@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

// color higharchey from light to dark
$primary-color: #f4eeea;
$secondary-color: #f0e3d2;
$blend-color: #b08968;
$contrast-color: #573825db;
$shadow-color: #5b5a5a8e;

// $font-stack: Poppins, sans-serif;
$font-stack: Barlow, sans-serif;
$fontsize-reading: 18px;

$standerd-margin: 5vh 3vw 0 3vw;

body {
  background-color: $primary-color;
  font-family: $font-stack;
}

nav {
  height: 4em;
  background-color: $contrast-color;
}

.nav-links {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;

  a {
    color: black;
    margin: 0 1vw 0 0;
    background: $secondary-color;
    text-decoration: none;
    font-size: $fontsize-reading;
    padding: 8px 30px;
    border: 1px solid $blend-color;

    border-radius: 3px;
  }
}

.home-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: $standerd-margin;
}

.intro-card {
  border-radius: 5px;
  margin: -10vh 0 0 0;
  padding: 8vh 8vw 5vh 8vw;
  background: $blend-color;
  color: $primary-color;
  font-size: $fontsize-reading;
}

.profile-pic {
  height: 18vh;
  width: 18vh;
  border: 6px $secondary-color solid;
  border-radius: 300px;
  position: relative;
  z-index: 1;
}

.skill-page {
  margin: $standerd-margin;
  text-align: center;
  color: $contrast-color;
}
.skills-container {
  border: 1px $blend-color solid;
  border-radius: 5px;
  background: $secondary-color;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  -webkit-overflow-scrolling: auto;
  justify-content: left;
  box-shadow: inset 0 0 30px 3px $shadow-color;
}

.skills-img {
  height: 20vh;
  padding: 0 5px 0 0;
}

.general-bttn {
  margin: 5vh auto 5vh auto;
  align-content: center;
  width: 25vw;
  background: $secondary-color;
  padding: 10px 45px;
  border: 1px solid $blend-color;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  font-size: $fontsize-reading;
}

@media screen and (max-width: 1180px) {
  nav {
    position: relative;
    flex-direction: row-reverse;
    display: flex;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    margin: 1.5em 3vw 0 -3vw;
    z-index: 100;
  }

  .line {
    width: 30px;
    height: 3px;
    background: $primary-color;
    margin: 0 0 5px 0;
    border-radius: 3px;
  }

  .nav-links {
    position: fixed;
    background: $contrast-color;
    height: 100vh;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    clip-path: circle(100px at 100% -100%);
    -webkit-clip-path: circle(100px at 100% -100%);
    transition: all 1s ease-out;
    pointer-events: none;

    a {
      margin: 15px;
    }
  }

  .nav-links.open {
    clip-path: circle(2000px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
    pointer-events: all;
    background: linear-gradient(to top, $primary-color 0%, $contrast-color 100%)
      no-repeat;
    height: 100vh;
    z-index: 50;
  }

  .skills-img {
    height: 13vh;
  }
}
