@use 'App';

.contact-container {
  margin: App.$standerd-margin;
}

.contact-card-container {
  text-align: center;
  padding: 0 0 20px 0;
}

h1 {
  text-align: center;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
}

p {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 150%;
}

#memo {
  font-size: 200%;
}

.card {
  background-color: App.$blend-color;
  color: App.$primary-color;
  border-radius: 5px;
  margin: auto;
  width: 60%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.socials {
  border: 1px App.$primary-color solid;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  background-color: App.$shadow-color;
}

img {
  width: 200px;
}

a {
  color: App.$secondary-color;
}

.social-logo {
  width: 10%;
  background-color: App.$primary-color;
  border-radius: 4px;
}
