@use 'App';

.contact-container {
  margin: App.$standerd-margin;
  height: 35rem;
}

.contact-card-container {
  //   height: ?90vh;
  border: 1px red solid;
  text-align: center;
  padding: 0 0 20px 0;
}

p {
  font-size: 150%;
}

.card {
  //   border: 1px blue solid;
  background-color: App.$blend-color;
  color: App.$primary-color;
  border-radius: 5px;
  //   margin: App.$standerd-margin;
  margin: auto;
  width: 60%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.socials {
  border: 1px App.$primary-color solid;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  background-color: App.$shadow-color;
}

img {
  width: 200px;
}

a {
  color: App.$secondary-color;
}

.social-logo {
  width: 10%;
  background-color: App.$primary-color;
  border-radius: 4px;
}
