@use 'App';

.project-container {
  border-radius: 5px;
  margin: App.$standerd-margin;
}

.project-content-container {
  margin: App.$standerd-margin;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-box {
  margin: 0 2vw 0 2vw;
  border-radius: 15px;
  padding: 2vh 4vw 2vh 4vw;
  background: App.$blend-color;
  color: App.$primary-color;
  width: 340px;
  line-height: 25px;
  margin: 2vh;

  img {
    width: 23.5vw;
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.projects-button {
  border-radius: 25px;
  margin: 1vh 1vw 1vh 1vw;
  height: 20px;
  background: linear-gradient(145deg, #d8d8d8, #ffffff);
  box-shadow: 20px 20px 60px App.$gen-bttn-bottom,
    -20px -20px 60px App.$gen-bttn-top;
  padding: 10px 30px 13px 30px;
  cursor: pointer;
  font-size: App.$fontsize-reading;
  color: black;
  transition: opacity 0.2s;
}

.button-container:hover .projects-button:not(:hover) {
  opacity: 0.5;
}
