@use 'App';

.project-container {
  border: 1px red solid;
  border-radius: 5px;
  margin: App.$standerd-margin;
  height: 80vh;
}

.project-content-container {
  border: 1px blue solid;
  margin: App.$standerd-margin;
  height: 60vh;
}

.project-box {
  margin: 0 2vw 0 2vw;
  border-radius: 15px;
  padding: 2vh 4vw 2vh 4vw;
  background: App.$blend-color;
  color: App.$primary-color;
  width: 340px;
  line-height: 25px;
}
